{% extends 'service_center/base.html' %}

{% load static %}

{% block content %}



<div class="container-fluid">
  <div class="card">
      <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Book Service Center</h5>
          <form method="POST">
              {% csrf_token %}


              <div class="mb-3">
                <label for="date" class="form-label">Select Date</label>
                <input type="date" class="form-control" id="date" name="date" required>
              </div>
              <div class="mb-3">
                <label for="msg" class="form-label">Message</label>
                <textarea class="form-control" id="msg" name="msg" rows="3" required></textarea>
            </div>
            
              <br>

              <button type="submit" class="btn btn-primary">Update</button>
          </form>
      </div>
  </div>
</div>


<script>
  // Get tomorrow's date
  var today = new Date();
  today.setDate(today.getDate() + 1);
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
  var yyyy = today.getFullYear();

  tomorrow = yyyy + '-' + mm + '-' + dd;

  // Set the min attribute of the date input to tomorrow's date
  document.getElementById("date").min = tomorrow;
</script>



{% endblock %}